* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  /* 1.6rem == 16px */
}

:root {
  --white: #ffffff;
  --dark-green: rgba(0, 128, 55, 0.6);
  --light-green: #4bb437;
  --dark-purple: #833e71;
  --light-purple: #c697bd;

}

.body {
  color:var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-purple);
}

.image img {
  width: 100vw;
  height: 100vh;
}

.main {
  margin-bottom: 5rem;
  width: 30rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background: var(--dark-green);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.8rem;
}

.subtitle {
  font-size: 1.6rem;
  margin: 1.2rem 0rem;
}

.stars-container {
  display: flex;
  position: relative;
  margin-bottom: 1.2rem;
}

.white-stars img {
  width: 4rem;
}

.green-stars {
  position: absolute;
  cursor: pointer;
}

.green-stars img {
  width: 4rem;
}

.comment-box {
  height: 0rem;
}

.comment-box label {
  color: var(--white);
  display: inline-block;
  margin-bottom: 1rem;
}

.comment-box textarea {
  background: none;
  color: var(--white);
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0.1rem solid var(--white);
  border-radius: 1rem;
  display: inline-block;
  height: 8rem;
  margin-bottom: 2.4rem;
  padding: 1.2rem;
  width: 100%;
}

.comment-box textarea::placeholder {
  color: var(--white);
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
  animation: visible 0.3s ease-in-out forwards;
}

@keyframes visible {
  from {
    height: 0rem;
  }
  to {
    height: 13.8rem; 
  }
}

.submit-button {
  width: 100%;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--light-green);
}

.footer {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a {
  color: var(--light-purple);
  text-decoration: none;
}

.pexels {
  margin-bottom: 0.7rem;
  display: inline-block;
}

.icons {
  display: inline-block;
}
